* {
    margin: 0;
    padding: 0;
}

body{
    line-height: 22px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #0c0c0c;
    background: #cfcfcf;
}

.header-position{
	width: 100%;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 1px 2px #e1e1e1;
}

.container-header {
    /*position: relative;*/
    width: 100%;
    height: 80px;
}

.top-nav {
    position: relative;
    background-color: #1a265c;
    height: 30px;
}

.container-top{
    width: 65%;
    height: 30px;
    position: absolute;
	left: 17%;
    background-color: #1a265c;
}

.container-middle{
    width: 65%;
    height: 50px;
    position: absolute;
	left: 17%;
    background-color: transparent;
}

.header-middle {
    position: absolute;
    width: 100%;
    height: 50px;
    top: 30px;
    background-color: aqua;
    background: url(../images/yellow-bg.png);
    background-repeat: repeat-x;
    background-size: contain;
}

.menu {
    padding: 15px 0;
}

.navbar-brand {
    position: absolute;
    padding: 0;
    margin-top: -40px;
    margin-bottom: -67px;
    width: 180px;
    margin-left: 0;
}

img {
    position: absolute;
    max-width: 80%;
    width: 80px;
    height: 100px;
    z-index: 1;
}

.slogan-bar{
    position: relative;
    background-color: #1a265c;
    height: 30px;
}


.container{
	position: relative;
    width: 100%;
    height: 670px;
    display: flex;
    margin: 0px auto;
    background: #FFFFFF;
}

.body-content {
    padding: 15px 0px;
    min-height: 670px;
    width: 65%;
    position: absolute;
	left: 17%;
    background-color: #C7C5C5;
}

.body-left{
	position: absolute;
    width: 25%;
    height: 640px;
    background: #E0DBDB;
}

.body-left-1{
    position: relative;
    width: 100%;
    height: 420px;
    background: #E0DBDB;
    margin: 0px auto;
}

.notice{
    position: absolute;
    color: #1A265C;
    top: 20px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 16px;
}

.align1{
    left: 75px;
}

.notice-content{
    position: absolute;
    width: 90%;
    height: 65px;
    top: 60px;
    left: 15px;
    background: #FDEEEE;
    border-radius: 10px;
}

.nc1{
    
}

.nc2{
    top: 135px;
}

.nc3{
    top: 210px;
}

.nc4{
    top: 285px;
}

.top-notice{
    position: absolute;
    color: #1a265c;
    top: 12px;
    left: 15px;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}

.notice-content span{
    position: absolute;
    color: #e68a00;
    top: 33px;
    left: 15px;
    font-size: 14px;
    font-weight: 700;
}

.nc-view{
    position: absolute;
    width: 80%;
    height: 40px;
    top: 360px;
    left: 30px;
    background: #1a265c;
    border-radius: 10px;
}

.view-all{
    position: absolute;
    color: white;
    top: 10px;
    left: 60px;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}

.angle-right{
    position: absolute;
    color: white;
    top: 14px;
    left: 40px;
}

.angle-left{
    position: absolute;
    color: white;
    top: 14px;
    right: 40px;
}

.body-left-2{
    position: relative;
    width: 100%;
    height: 220px;
    background: #E0DBDB;
}

.admin{
    position: absolute;
    width: 90%;
    height: 180px;
    top: 20px;
    left: 15px;
    background: #FDEEEE;
    border-radius: 10px;
}

.admin-label{
    position: absolute;
    color: #1a265c;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}

.al1{
    top: 12px;
    left: 15px;
}

.al2{
    top: 72px;
    left: 15px;
}

.field{
    position: absolute;
    width: 85%;
    height: 25px;
    color: #000;
}

.f1{
    top: 35px;
    left: 15px;
}

.f2{
    top: 95px;
    left: 15px;
}

.submit{
    position: absolute;
    top: 135px;
    left: 15px;
    width: 35%;
    height: 20px;
    color: white;
    border-radius: 20px;
    background-color: #1a265c;
    border-color: black;
}

.body-right{
	position: absolute;
	left: 25%;
    width: 75%;
    height: 640px;
    background: #EAE7E5;
  }

  .body-right-1{
    position: relative;
    width: 100%;
    height: 220px;
    background: rosybrown;
  }

  .banner{
    position: absolute;
    width: 80%;
    height: 180px;
    top: 20px;
    left: 80px;
    background: yellowgreen;
}

  .body-right-2{
    position: relative;
    width: 100%;
    height: 420px;
    background: lightcoral;
  }

  .founded{
    position: absolute;
    width: 80%;
    height: 380px;
    top: 20px;
    left: 80px;
    background: lightblue;
    border-radius: 10px;
}

  .foot {
    position: fixed;
    width: 100%;
    height: 80px;
    display: flex;
    background: #0F1A50;
    border-top: 1px solid #e1e1e1;
    padding: 15px 0;
}
