* {
    margin: 0;
    padding: 0;
}

body{
    line-height: 22px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #0c0c0c;
    background: #cfcfcf;
}

.header-position{
	width: 100%;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 1px 2px #e1e1e1;
}

.container-header {
    /*position: relative;*/
    width: 100%;
    height: 80px;
}

.top-nav {
    position: relative;
    background-color: #1a265c;
    height: 30px;
}

.container-top{
    width: 65%;
    height: 30px;
    position: absolute;
	left: 17%;
    background-color: #1a265c;
    max-width: 1140px;
}

.container-middle{
    width: 65%;
    height: 50px;
    position: absolute;
	left: 17%;
    background-color: transparent;
}

.header-middle {
    position: absolute;
    width: 100%;
    height: 50px;
    top: 30px;
    background-color: aqua;
    background: url(../images/yellow-bg.png);
    background-repeat: repeat-x;
    background-size: contain;
}

.menu {
    padding: 6px 0;
}

.navbar-top {
    position: relative;
    display: flex;
    padding: .2rem 1rem;
}

.navbar-middle {
    position: relative;
    display: flex;
    padding: .5rem 1rem;
}

.navbar-brand {
    position: absolute;
    padding: 0;
    margin-top: -39px;
    margin-bottom: -67px;
    width: 100px;
    margin-left: -90px;
}

.badge{
    right: 30px;
    max-width: 30%;
    width: 30px;
    height: 40px;
}

.collapse-middle{
    flex-basis: auto;
}

.collapse-top{
    flex-basis: auto;
    padding-left: 700px;
}


.navbar-nav{
    display: flex;
    list-style: none;
    flex-direction: row;
}

.menu .navbar-nav > li > a {
    font-size: 14px;
    font-weight: 600;
    color: #1a265c;
    padding: 10px 55px;
    text-decoration: none;
}

.menu .navbar-nav > li > a:hover{
    color: white;
    text-decoration: underline;
}

.top-nav .navbar-top .navbar-nav .nav-item {
    border-right: .5px solid #E0DBDB;
}

.top-nav .navbar-nav .nav-link {
    color: #fff;
    padding-right: .5rem;
    padding-left: .5rem;
    font-size: 12px;
    text-decoration: none;
}

img {
    position: absolute;
    max-width: 80%;
    width: 80px;
    height: 100px;
    z-index: 1;
}

.date-bar{
    position: relative;
    background-color: #1a265c;
    height: 30px;
    color: #fff;
    padding-top: 8px;
    
}

.date{
    float: right;
    margin-right: 90px;
}

.container{
	position: relative;
    width: 100%;
    height: 670px;
    display: flex;
    margin: 0px auto;
    background: #FFFFFF;
}

.body-content {
    padding: 15px 0px;
    min-height: 670px;
    width: 65%;
    position: absolute;
	left: 17%;
    background-color:white;
}

.body-left{
	position: absolute;
    width: 25%;
    height: 640px;
    background: #E0DBDB;
}

.body-left-1{
    position: relative;
    width: 100%;
    height: 420px;
    background: #E0DBDB;
    margin: 0px auto;
}

.body-teachers-left{
    position: absolute;
    width: 33.3%;
    height: 640px;
    background: #E0DBDB;
}

.body-teachers-middle{
    position: absolute;
    left: 33.3%;
    width: 33.3%;
    height: 640px;
    background: #E0DBDB;
}

.body-teachers-right{
    position: absolute;
    left: 66.3%;
    width: 33.3%;
    height: 640px;
    background: #E0DBDB;
}

.teacher-1{
    position: relative;
    width: 90%;
    height: 150px;
    top: 70px;
    left: 20px;
    background: white;
    border-radius: 17px;
    margin-bottom: 15px;
  }

  .teacher-pic{
      position: absolute;
      top: 25px;
      left: 30px;
  }

  .body-user-top{
    position: absolute;
    width: 100%;
    height: 80px;
    background: #E0DBDB;
}

  .body-user-left{
    position: absolute;
    top: 80px;
    width: 40%;
    height: 300px;
    background: #E0DBDB;
}

.body-user-right{
    position: absolute;
    top: 80px;
    left: 40%;
    width: 60%;
    height: 300px;
    background: #E0DBDB;
}

.body-user-below{
    position: absolute;
    top: 380px;
    left: 0;
    width: 100%;
    height: 280px;
    background: #E0DBDB;
}

.body-alumni-left{
    position: absolute;
    width: 50%;
    height: 640px;
    background: #E0DBDB;
}

.body-alumni-right{
    position: absolute;
    left: 50%;
    width: 50%;
    height: 640px;
    background: #E0DBDB;
}

.register{
    position: absolute;
    width: 70%;
    height: 450px;
    top:90px;
    left: 80px;
    background: #FDEEEE;
    border-radius: 10px;
}

.instructions{
    position: relative;
    width: 70%;
    height: 400px;
    top:90px;
    left: 100px;
    background: white;
    border-radius: 17px;
    margin-bottom: 15px;
  }

.student{
    position: relative;
    width: 70%;
    height: 200px;
    top: 70px;
    left: 100px;
    background: white;
    border-radius: 17px;
    margin-bottom: 15px;
  }

  .student-pic{
    width: 25%;
    height: 120px;
    position: absolute;
    top: 40px;
    left: 30px;
}

.notice{
    position: absolute;
    color: #1A265C;
    top: 20px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 16px;
}

.align1{
    left: 75px;
}

.align2{
    right: 80px;
    top: 50px;
}
.align3{
    right: 80px;
    top: 110px;
}
.align4{
    right: 80px;
    top: 170px;
}

.align5{
    left: 40px;
    top: 20px;
    z-index: 1;
}

.align6{
    left: 320px;
    top: 110px;
    z-index: 1;
}

.align7{
    left: 50px;
    top: 40px;
    z-index: 1;
}

.align8{
    left: 110px;
    top: 40px;
    z-index: 1;
}

.align9{
    left: 60px;
    top: 0px;
    z-index: 1;
}

.notice-content{
    position: absolute;
    width: 90%;
    height: 65px;
    top: 60px;
    left: 15px;
    background: #FDEEEE;
    border-radius: 10px;
}

.nc1{
    
}

.nc2{
    top: 135px;
}

.nc3{
    top: 210px;
}

.nc4{
    top: 285px;
}

.nc5{
    top: 360px;
}

.nc6{
    top: 435px;
}

.nc7{
    top: 510px;
}


.top-notice{
    position: absolute;
    color: #1a265c;
    top: 12px;
    left: 15px;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}

.info{
    position: absolute;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
}

.info-1{
    top: 40px;
    left: 120px;
    color: #1a265c;
}

.info-2{
    top: 60px;
    left: 120px;
    color: #e68a00;
}

.info-3{
    top: 80px;
    left: 120px;
    color: #1a265c;
}

.info-4{
    top: 100px;
    left: 120px;
    color: #1a265c;
}

.info-5{
    top: 50px;
    left: 200px;
    color: #1a265c;
}

.info-6{
    top: 70px;
    left: 200px;
    color: #1a265c;
}

.info-7{
    top: 90px;
    left: 200px;
    color: #1a265c;
}

.info-8{
    top: 110px;
    left: 200px;
    color: #1a265c;
}

.info-9{
    top: 130px;
    left: 200px;
    color: #1a265c;
}

.info-10{
    top: 40px;
    left: 40px;
    color: #1a265c;
    font-size: 16px;
}

.info-11{
    top: 80px;
    left: 40px;
    color: #1a265c;
    text-indent: 30px;
    padding-right: 20px;
}

.info-12{
    top: 180px;
    left: 40px;
    color: #1a265c;
    text-indent: 30px;
    padding-right: 20px;
}

.info-13{
    top: 260px;
    left: 40px;
    color: #1a265c;
    text-indent: 30px;
    padding-right: 20px;
}

.info-14{
    top: 300px;
    left: 40px;
    color: #1a265c;
    text-indent: 30px;
    padding-right: 20px;
    text-align: left;
}

.info-15{
    top: 320px;
    left: 40px;
    color: #1a265c;
    text-indent: 30px;
    padding-right: 20px;
    text-align: left;
}

.notice-content span{
    position: absolute;
    color: #e68a00;
    top: 33px;
    left: 15px;
    font-size: 14px;
    font-weight: 700;
}

.nc-view{
    position: absolute;
    width: 80%;
    height: 40px;
    left: 30px;
    background: #1a265c;
    border-radius: 10px;
}

.nc-v-1{
    top: 360px;
}

.nc-v-2{
    top: 585px;
}

.view-all{
    position: absolute;
    color: white;
    top: 10px;
    left: 60px;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}

.angle-right{
    position: absolute;
    color: white;
    top: 14px;
    left: 40px;
}

.angle-left{
    position: absolute;
    color: white;
    top: 14px;
    right: 40px;
}


.banner-right{
    position: absolute;
    color: white;
    top: 60px;
    left: 30px;
}

.banner-left{
    position: absolute;
    color: white;
    top: 60px;
    right: 30px;
}

.body-left-2{
    position: relative;
    width: 100%;
    height: 220px;
    background: #E0DBDB;
}

.admin{
    position: absolute;
    width: 90%;
    height: 180px;
    top: 20px;
    left: 15px;
    background: #FDEEEE;
    border-radius: 10px;
}

.std-login {
    position: absolute;
    width: 50%;
    height: 180px;
    top: 160px;
    left: 180px;
    background: #FDEEEE;
    border-radius: 10px;
}

.result{
    position: absolute;
    width: 80%;
    height: 180px;
    top:70px;
    left: 40px;
    background: #FDEEEE;
    border-radius: 10px;
}

select{
    position: absolute;
    width: 85%;
    height: 25px;
    color: #000;
}
 #s1{
    top: 40px;
    left: 25px;
 }

 #s2{
    top: 100px;
    left: 25px;
 }

.admin-label{
    position: absolute;
    color: #1a265c;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}

.al1{
    top: 12px;
    left: 30px;
}

.al2{
    top: 72px;
    left: 30px;
}

.al11{
    top: 32px;
    left: 30px;
}

.al22{
    top: 92px;
    left: 30px;
}

.al3{
    top: 152px;
    left: 30px;
}

.al4{
    top: 212px;
    left: 30px;
}

.al5{
    top: 272px;
    left: 30px;
}

.al6{
    top: 332px;
    left: 30px;
}

.field{
    position: absolute;
    width: 85%;
    height: 25px;
    color: #000;
}

.f33{
    top: 35px;
    left: 25px;
    font-size: 14px;
}

.f44{
    top: 95px;
    left: 25px;
    font-size: 14px;
}

.f1{
    top: 35px;
    left: 15px;
    font-size: 14px;
}

.f2{
    top: 95px;
    left: 15px;
    font-size: 14px;
}

.f3{
    top: 55px;
    left: 25px;
    font-size: 14px;
}

.f4{
    top: 115px;
    left: 25px;
    font-size: 14px;
}

.f5{
    top: 175px;
    left: 25px;
    font-size: 14px;
}

.f6{
    top: 235px;
    left: 25px;
    font-size: 14px;
}

.f7{
    top: 295px;
    left: 25px;
    font-size: 14px;
}

.f8{
    top: 355px;
    left: 25px;
    font-size: 14px;
}

.submit{
    position: absolute;
    color: white;
    border-radius: 20px;
    background-color: #1a265c;
    border-color: black;
    cursor: pointer;
}

.s1{
    width: 32%;
    height: 20px;
    top: 135px;
    left: 15px;
}

.s2{
    width: 20%;
    height: 20px;
    top: 135px;
    left: 25px;
}

.s3{
    width: 20%;
    height: 20px;
    top: 400px;
    left: 50px;
}

.forgot{
    position: absolute;
    width: 40%;
    height: 20px;
    top: 135px;
    right: 15px;
    color: #1a265c;
    text-decoration: none;
}

.body-right{
	position: absolute;
	left: 25%;
    width: 75%;
    height: 640px;
    background: #EAE7E5;
  }

  .body-right-1{
    position: relative;
    width: 100%;
    height: 220px;
    background: #EAE7E5;
  }

  .notice-1{
    position: relative;
    width: 90%;
    height: 80px;
    top: 50px;
    left: 40px;
    background: white;
    border-radius: 17px;
    margin-bottom: 10px;
  }


  .banner{
    position: absolute;
    width: 80%;
    height: 180px;
    top: 20px;
    left: 80px;
    background: black;
}

.banner img{
    position: absolute;
    width: 100%;
    height: 180px;
    left: 70px;
}

  .body-right-2{
    position: relative;
    width: 100%;
    height: 420px;
    background: #EAE7E5;
  }

  .founded{
    position: absolute;
    width: 80%;
    height: 380px;
    top: 20px;
    left: 80px;
    background: #E0DBDB;
    border-radius: 10px;
}

.founded img{
    position: absolute;
    width: 60%;
    height: 200px;
    top: 30px;
    left: 30px;
}

.founded span{
    position: absolute;
    color: #e68a00;
    top: 70px;
    right: 80px;
    font-size: 14px;
    font-weight: 700;
}

.about{
    position: absolute;
    color: #757575;
    left: 30px;
    font-size: 12px;
    padding-right: 45px;
    text-indent: 30px;
  }
  
.about1{
    top: 250px;
}

.about2{
    top: 35px;
}
  
  
  .read{
    position: absolute;
    width: 15%;
    height: 20px;
    color: white;
    background-color: #1a265c;
    border-color: black;
    text-align: center;
    text-decoration: none;
}

.read-1{
    top: 330px;
    right: 80px;
}

.read-2{
    top: 35px;
    right: 80px;
}

.foot {
    position: fixed;
    width: 100%;
    height: 80px;
    display: flex;
    background: #0F1A50;
    border-top: 1px solid #e1e1e1;
    padding: 15px 0;
}

.comp{
    position: absolute;
    left: 80px;
    color: white;
}

.comp{
    position: absolute;
    left: 80px;
    color: white;
}

.comp2{
    position: absolute;
    top: 30px;
    left: 80px;
    color: white;
    font-family: 'Shadows Into Light', cursive;
}

.comp3{
    position: absolute;
    right: 80px;
    color: white;
}

.comp4{
    position: absolute;
    top: 30px;
    right: 154px;
    color: white;
}

.peace{
    position: absolute;
    top: 30px;
    right: 80px;
    color: white;
    font-family: 'Shadows Into Light', cursive;
    text-decoration: none;
}

.pagination {
    display: inline-block;
    position: absolute;
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: rgb(26, 38, 92);
    color: white;
  }
  
  .pagination a:hover:not(.active)
  {
    background-color: #ddd;
}

.pg1{
    left: 280px;
    bottom: 11px;
}

.pg2{
    left: 30px;
    bottom: 15px;
}

table {
    position: absolute;
    top: 40px;
    left: 55px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    padding: 8px;
    color: #1a265c;
    text-align: center;
    border-radius: 5px;
  }

  td, a {
    color: #1a265c;
    text-decoration: none;
  }
  
  tr {
    background-color: #FDEEEE;
  }

  /* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }