<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CLJS
    </title>
    <link rel="stylesheet" href="https://use.typekit.net/nfp7kim.css">
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/style.css">
  </head>
  <body>
    <div class="header-position">
      <header class="container-header">
        <div class="top-nav">
          <div class="container-top">
            <nav class="navbar-top">
              <div class="collapse-top">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <i class="fa fa-user">
                      </i> My Account
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">About
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact Us
                    </a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
        <div class="header-middle">
          <div class="container-middle">
            <div class="menu">
              <nav class="navbar-middle">
                <a class="navbar-brand" href="">
                  <img src="../../images/logo.png" alt="">
                </a>
                <div class="collapse-middle">
                  <ul class="navbar-nav">
                    <li>
                      <a href="">Notice Board
                      </a>
                    </li>
                    <li>
                      <a href="teachers.html">
                      </a>
                    </li>
                    <li>
                      <a href="students.html">
                      </a>
                    </li>
                    <li>
                      <a href="notice.html">
                      </a>
                    </li>
                    <li>
                      <a href="#">
                      </a>
                    </li>
                    <li>
                      <a href="#">
                      </a>
                    </li>
                    <li>
                      <a href="alumni.html">
                      </a>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </header>
      <div class="date-bar">
        <p class="date">
          <span id="datetime">
          </span>
        </p>
      </div>
    </div>
    <div class="container">
      <div class="body-content">
        <div class="body-adleft">
          <div class="nav_title" style="border: 0;">
            <a href="" class="site_title"><i class="fa fa-asterisk"></i>
              <span>CLJS - ADMIN</span></a>
        </div>
          <div class="body-adleft-1">
            <div class="menu_section">
            <h3></h3>
            <ul class="nav1 side-menu">
                <li>
                    <a href="../admin/dashboard.html"><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="#">  Dashboard</a></li>
                    </ul>
                </li>

                <li>
                  <a href="../department/adddepartment.html"><i class="fa fa-university"></i> Department<span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                      <li><a href="adddepartment.html">Add department</a></li>
                      <li><a href="addsubject.html">Add Class</a></li>
                      <li><a href="addsubject.html">Add Subject</a></li>
                  </ul>
              </li>

                <li class="active">
                    <a href="noticeboard.html"><i class="fa fa-industry"></i>  Notice Board<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu" style="display: block;">
                        <li style="background-color: #5a728b;"><a href="noticeboard.html">Notice Board</a></li>
                        <li><a href="addnotice.html">Add Notice</a></li>
                    </ul>
                </li>

                <li>
                    <a href="../category/categories.html"><i class="fa fa-stack-overflow"></i> Categories<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="../category/categories.html">Category List</a></li>
                    </ul>
                </li>

                <li>
                  <a href="../teachers/teacherslist.html"><i class="fa fa-users "></i> Teachers<span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                      <li><a href="teacherslist.html">Teachers List</a></li>
                      <li><a href="addteacher.html">Add Teacher</a></li>
                      <li><a href="adddepartment.html">Add Department</a></li>
                  </ul>
              </li>

              <li>
                <a href="../students/studentslist.html"><i class="fa fa-graduation-cap"></i> Students<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="studentlist.html">Students List</a></li>
                    <li><a href="addstudent.html">Add Student</a></li>
                </ul>
            </li>


            <li>
              <a href="../result/publishresult.html"><i class="fa fa-external-link"></i> Result<span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                  <li><a href="../result/publishresult.html">Publish Result</a></li>
                  <li><a href="../result/findresult.html">Find Result</a></li>
              </ul>
          </li>

          <li>
            <a href="../online/onlineclasslist.html"><i class="fa fa-laptop "></i> Online Classes<span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="../online/onlineclasslist.html">Online Classlist</a></li>
                <li><a href="../online/generateclass.html">Generate Class</a></li>
            </ul>
        </li>

            </ul>
        </div>

       
        </div>
   
          <div class="sidebar-footer">
            <a title="Settings" href="#">
                <span class="fa fa-cog" aria-hidden="true"></span>
            </a>
  
            <a title="Main Site" href="#">
                <span class="fa fa-phone" aria-hidden="true"></span>
            </a>
  
            <a title="Main Site" href="#">
              <span class="fa fa-send" aria-hidden="true"></span>
          </a>
           
          <a title="Logout" href="../../index.html">
            <span class="fa fa-power-off" aria-hidden="true"></span>
        </a>
        </div>
       
        
    <!--</div>-->
          
        </div>
        <div class="body-right">
          <div class="body-right-1">
            <div class="banner">
             
              <div class="slideshow-container">
                
              </div>
              
            </div>
          </div>
          <div class="body-right-2">
            <div class="founded">
             
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="foot">
      <p class="comp">Computer Little Jewels School
      </p>
      <p class="comp2">A Modern Thoughtful Kinder Garten & Junior School.
      </p>
      <p class="comp3">Abhaynagar, Jessore, Bangladesh
      </p>
      <p class="comp4">Developed & Maintained by 
      </p>
      <a href="peacebusters.team" class="peace">Peacebusters
      </a>
    </footer>
  </body>
  <script>
    var dt = new Date();
    document.getElementById("datetime").innerHTML = (("0"+dt.getDate()).slice(-2)) +"."+ (("0"+(dt.getMonth()+1)).slice(-2)) +"."+ (dt.getFullYear()) +" "+ (("0"+dt.getHours()).slice(-2)) +":"+ (("0"+dt.getMinutes()).slice(-2));
  </script>
</html>
